.App {
  text-align: center;
 
  
}


.App-logo {
  height: 10vmin;
}

.App-header {
  background-color:(red,blue)
  
 ;
  position: sticky;
}

img {
  border-radius: 35px 35px 35px 35px;
  
}


.App-footer {
  background-color:rgb(21, 146, 230);
  color: rgb(14, 13, 13);
 
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
